<div>
    <a href="https://www.linkedin.com" target="_blanck"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
    <a href="https://www.twitter.com" target="_blanck"><img src="../../../assets/twitter.png" alt="twiter"></a>
    <a href="https://www.instagram.com" target="_blanck"><img src="../../../assets/instagram.png" alt="isntagram"></a>
    <a href="https://www.github.com" target="_blanck"><img src="../../../assets/github.png" alt="github"></a>
    <a href="https://www.facebook.com" target="_blanck"><img src="../../../assets/facebook.png" alt="facebook"></a>
</div>
