
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/Fernando 01.jpg" id="fotodeperfil" class="img-fluid" >
        </div>
        <div class="col-xs-12 col col-sm-2 col-md-2 col-lg-2" id="divnombre">
            <p id="nombre">Farji, Fernando D.</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Maestro del diseño Web.</p>
                <p>En este sitio en construcción próximamente estará mi portfolio, en el que describiré mi experiencia, mis capacidades laborales y personales.</p>
            </span>
        </div>
    </div>

